@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

@{
}
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>Index</title>



    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/Category.css"/>
</head>

<body>
    <nav class="navbar navbar-expand-sm">
        <!-- Thanh chọn -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/home/index">Trang chủ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Product/domestic">Tour Trong nước</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ProductController/abroad">Tour Ngoài nước</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Product/combine">Tour kết hợp</a>
            </li>
             <li class="nav-item">
                <a class="nav-link" href="../ProductController1/linkshoe"></a>
            </li>
        </ul>
    </nav>
    <div class="container-fluid">

    </div>
</body>
</html>

 *@