@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <title>Home</title>
    <link rel="icon" type="image/png" href="/image/logo.png" sizes="32x32" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/home/Index1.css" />
</head>
<body>
    <div class="container-fluid">
        <div class="image-container">
            <img src="~/image/nen2.jpg" alt="Description of image" class="img1">
            <div class="overlay-text">
                <h1>Corn Travel</h1>
                <p>Thỏa sức vì khám phá</p>
                <a href="/home/index" class="btn btn-all-tab">Home</a>
            </div>
        </div>
    </div>
</body>
</html>
