/*body {
    margin: 0;
    font-family: Arial, sans-serif;
}*/

.navbar {
    border-radius:20px;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex; /* Sử dụng flexbox */
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
}


.container {
    padding: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 cột */
    gap: 20px; /* Khoảng cách giữa các item */
}

.grid-item {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card {
    padding: 20px;
}

.card-body h4 {
    margin: 0 0 10px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

    .table th, .table td {
        border: 1px solid #ddd;
        padding: 8px;
    }

    .table th {
        background-color: #f4f4f4;
    }

.chart-container {
    width: 100%;
    height: 200px; /* Chiều cao của biểu đồ */
}
