
<link rel="stylesheet" href="~/css/home/index.css">
<main>
    <div class="container">
        <h1>Danh sách tour trong nước</h1>
        <div id="domesticTours" class="tours-list"></div>
        <button id="seeMoreButton" class="btn btn-primary">Xem thêm</button>
        
    </div>
</main>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/tours/domestic.js"></script>