@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@* @{
    Layout = null;
} *@

<link rel="stylesheet" href="~/css/home/index.css">
<main>
    <div class="container">
        <h1>Danh sách tour  ngoài nước</h1>
        <div id="internationalTours" class="tours-list"></div>
        <button id="seeMoreButton" class="btn btn-primary">Xem thêm</button>

    </div>
</main>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/tours/international.js"></script>