@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
}

<link rel="stylesheet" href="~/css/auth/register.css" />
<main>
    <div id="registerForm" class="register-container">
        <div class="register">
            <h1 class="h1">Đăng ký ^~^</h1>
            <p class="p">Chào mừng bạn đến với Corn travel</p>
        </div>
        <form class="login" id="registerForm" action="auth/register">
            <label for="firstName">Họ: <span class="required">*</span></label>
            <input type="text" id="firstName" name="firstName" required>

            <label for="lastName">Tên: <span class="required">*</span></label>
            <input type="text" id="lastName" name="lastName" required>

            <label for="email">Email: <span class="required">*</span></label>
            <input type="text" id="email" name="email" required>

            <label for="phoneNumber">Số điện thoại: <span class="required">*</span></label>
            <input type="tel" id="phoneNumber" name="phoneNumber" required>

            <label for="gender">Chọn giới tính: <span class="required">*</span></label>
            <select id="gender" name="gender" class="gt" required>
                <option value="nam" selected>Nam</option>
                <option value="nữ">Nữ</option>
                <option value="Khác">Khác</option>
            </select>

            <label for="address">Địa chỉ: <span class="required">*</span></label>
            <input type="text" id="address" name="address" required>

            <label for="birthDate">Ngày sinh:</label>
            <input type="date" name="birthDate" id="birthDate" value="2000-11-20">

            <label for="password">Mật khẩu: <span class="required">*</span></label>
            <input type="password" id="password" name="password" required>

            <label for="confirmPassword">Nhập lại mật khẩu: <span class="required">*</span></label>
            <input type="password" id="confirmPassword" name="confirmPassword" required>

            <button class="btn-send" type="submit">Gửi mã OTP</button>
        </form>
    </div>

    


    

    <div id="verifyOtpContainer" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2>Mã OTP</h2>
            <form action="otp" method="post">
                <label for="otpCode">Mã OTP đã gửi đến email của bạn: <span class="required">*</span></label>
                <input type="text" id="otpCode" name="otpCode" required>
                <button class="btn-verify" id="verifyOtpButton" type="button">Xác nhận mã OTP</button>
            </form>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/accounts/register.js"></script>
</main>
